.DS_Store
node_modules
**/.env
.idea
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

## internal files while building projects that should not be committed
notes
captures
test_data